{% extends "app/layout.html" %}

{% block content %}

<div class="page-header">
  <h1>Generate new Formulas {{ title }} <small>(Monte Carlo) for the selected market segments</small></h1>
</div>

<div class="container">
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-md-4">
                {{ form.project_field.label_tag }} {{ form.project_field }}
            </div>
            <div class="col-md-4">
                {{ form.mnc_field.label_tag }} {{ form.mnc_field }}
            </div>
            <div class="col-md-4">
                {{ form.cc_field.label_tag }} {{ form.cc_field }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                {{ form.region_choices_field.label_tag }} {{ form.region_choices_field }}
            </div>
            <div class="col-md-4">
                {{ form.category_choices_field.label_tag }} {{ form.category_choices_field }}
            </div>
            <div class="col-md-4">
                {{ form.corp_choices_field.label_tag }} {{ form.corp_choices_field }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                {{ form.nrexp_field.label_tag }} {{ form.nrexp_field }}
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-3 col-md-9">
                <button type="submit" name="generate" class="btn btn-primary">Generate Experiments
                    <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
                </button>
                <button type="submit" name="retrieve" class="btn btn-primary">Retrieve Experiments
                    <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                </button>

             </div>
        </div>
        {% if form.errors %}
            <p class="validation-summary-errors">Errors detected.</p>
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                    <strong>{{ field.label_tag }}{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </form>
</div>


{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}

