{% extends "app/layout.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.32/dc.css" media="screen" /> 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.32/dc.css" media="screen" />

<div class="page-header">
  <h1>Generated Formulas {{ title }} <small>classified for the market segments</small></h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="gen_results_table" class="tablesorter-blue">
                <thead>
                    <tr>
                        <th> experiment </th>
                        <th> segment </th>
                        <th> nrcomp </th>
                    </tr>
                </thead>
                <tbody>
                    {% for gen1 in generate_li %}
                    <tr>
                        <td><a link href="experiment/{{ gen1.experiment }}">{{ gen1.experiment }}</a></td>
                        <td>{{ gen1.segment }}</td>
                        <td>{{ gen1.nrcomp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row">
        <div id="gen_predict_div" class="col-md-12">
            <h1>Generated Prediction Results</h1>
            {{ prediction_df | safe }}
        </div>
    </div>
</div>

<br />


{% endblock %}


{% block scripts %}
    <script src="http://d3js.org/d3.v3.min.js"></script>

    {% load staticfiles %}
        <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
        <script src="{% static 'app/scripts/crossfilter.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.27.8/js/jquery.tablesorter.widgets.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.32/dc.js"></script>
    {% load staticfiles %}
        <script src="{% static 'app/scripts/generateresults.js' %}"></script>
{% endblock %}